body{
    margin: 0px;
    padding: 0px;
}

nav{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(208, 208, 208);
}


.logo{
    background-color: green;
    height: 60px;
    width: 60px;
border-radius: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu{
    /* background-color: blue; */
    display: flex;
    gap: 20px;
}

.menu a{
font-size: 18px;
color: black;
text-decoration: none;
cursor: pointer;
transition: all .5s linear;

}
.menu a:hover{
    color: red;
    font-size:20px ;
}
.menu_icon{
    display: none;
}
.banner{
    background-color: red;
    height: 500px;
    width: 100%;
}


.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.backgrround{
    height: 600px;
    width: 100%;
    background-image: url('../resource/Image/image.webp');
     background-repeat: no-repeat;
     background-size: cover;
}



@media(max-width:480px){
    body{
        background-color: red;
    }
.logo{
    height: 40px;
    width: 40px;
    font-size: 14px;
}
    .menu{
    display:none ;
}
.menu_icon{
    display: block;
}
.menu_icon svg{
    color: white;
}

.banner{
    height: 200px;
}
}